# Dependencies
node_modules

# Build outputs
dist
build

# Coverage reports
coverage

# Minified files
*.min.js
*.min.css

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Environment files
.env
.env.*

# Cache directories
.vite
.cache
