# Visual Studio/Backend Exclusions
.vs
bin/
obj/

# Documentation exclusions
Docs/site
Docs/uv.lock

# Frontend exclusions
Frontend/coverage
Frontend/node_modules
Frontend/dist
Frontend/build
Frontend/coverage
