.App {
    width: 100%;
    z-index: 0;
}

.page-wrapper {
    margin-left: 5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.page-title-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem 1rem 1rem;
}

.page-title {
    font-size: 1.05rem;
    font-family: IBM Plex Sans, sans-serif;
    margin: 0;
    color: #acbfd2;
    font-weight: 500;
    line-height: 1.1;
}

@media only screen and (max-width: 1000px) {
    .page-wrapper {
        margin-left: 1rem;
    }
}