body {
  background-color: #1a1a1a;
  margin: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

h1,
h2 {
  color: white;
  padding-left: 2.5rem;
  padding-bottom: 0.5rem;
}

h3 {
  color: white;
}

.panel-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.panel {
  background-color: #333333;
  color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meh {
  padding-top: 3rem;
}