.side-nav {
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--primary-colour);
	overflow-x: hidden;
	transition: 0.5s;
	display: flex;
	flex-direction: column;

	&.open {
		width: 250px;
		box-shadow: #80808036 2px 2px
	}

	&.closed {
		width: 0;
	}

	.links {
		margin-top: 6em;
		display: flex;
		flex-direction: column;
		gap: 1em;
		justify-content: center;

		.link-container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 1em;
			text-decoration: none;
			color: var(--secondary-colour) !important;
			min-width: 185px;
			padding: 10px;
			margin: 0 24px;
			border-radius: 8px;

			&.selected {
				background-color: gray;
				border: 1px solid gray;
			}
		}
	}
}

.closeIcon {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}