$lyzer-red: #e10600;
$lyzer-black: #202020;
$lyzer-white: #ffffff;
$lyzer-dark-grey: #2a2a2a;
$lyzer-mid-grey: #94a0ad;
$lyzer-light-grey: #dddddd;
$lyzer-green: #61fa02;
$lyzer-turquoise: #02f795;
$lyzer-blue: #1fbcff;