.flex-row {
    display: flex;
    flex-direction: row;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.cursor-pointer {
    cursor: pointer;
}

.text-sm {
    font-size: 0.875rem;
}

.m-0 {
    margin: 0;
}