@use "colours";

:root {
	// SAME ACROSS ALL THEMES
	--lyzer-error: #{colours.$lyzer-red};
	--progress-bar-indicator-colour: #{colours.$lyzer-red};
	--progress-bar-indicator-colour-complete: #{colours.$lyzer-success};
	--progress-bar-indicator-colour-almost: #{colours.$lyzer-finalizing};
	--progress-bar-indicator-colour-incomplete: #{colours.$lyzer-info};
	--card-border-colour: #{colours.$lyzer-dark-grey};
	// END OF SAME ACROSS ALL THEMES

	--primary-colour: #{colours.$lyzer-black};
	--secondary-colour: #{colours.$lyzer-white};
	--card-bg-colour: #{colours.$lyzer-dark-grey};
	--progress-bar-track-colour: #{colours.$lyzer-mid-grey};
	--off-text-colour: #{colours.$lyzer-mid-grey};
	--nav-bar-bg: #{colours.$lyzer-black};
}

[data-theme="light"] {
	--primary-colour: #{colours.$lyzer-off-white};
	--secondary-colour: #{colours.$lyzer-soft-black};
	--card-bg-colour: #{colours.$lyzer-white};
	--progress-bar-track-colour: #{colours.$lyzer-mid-grey};
	--off-text-colour: #{colours.$lyzer-dark-grey};
	--nav-bar-bg: #{colours.$lyzer-warm-white};
}

[data-theme="dark"] {
	--primary-colour: #{colours.$lyzer-black};
	--secondary-colour: #{colours.$lyzer-white};
	--card-bg-colour: #{colours.$lyzer-dark-grey};
	--progress-bar-track-colour: #{colours.$lyzer-mid-grey};
	--off-text-colour: #{colours.$lyzer-mid-grey};
	--nav-bar-bg: #{colours.$lyzer-black};
}
