.in-progress {
    --height: 6px;
    --track-color: #303030;
    --indicator-color: #1fbcff;
}

.almost {
    --height: 6px;
    --track-color: #303030;
    --indicator-color: #02f795;
}

.success {
    --height: 6px;
    --track-color: #303030;
    --indicator-color: #61fa02;
}

.red-bull {
    --height: 6px;
    --track-color: #303030;
    --indicator-color: #3b5fe2;
}