.overview-card {
    font-family: IBM Plex Sans, sans-serif;
    border-radius: 0.3rem;
    background-color: var(--lyzer-card-bg-color);
    padding: 1.5rem;
    padding-bottom: 4.25rem;
    height: fit-content;

    .card-heading {
        color: var(--lyzer-card-heading) !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
        font-size: 15px !important;
        margin: 0 0 1rem 0;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;

        .card-section {
            width: auto;
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #424e5b !important;
            padding: 1.5rem 0;

            .section-heading {
                font-weight: 700 !important;
                text-transform: uppercase !important;
                color: var(--lyzer-card-sub-heading) !important;
                font-size: 12px !important;
            }

            .section-value {
                color: var(--lyzer-card-heading);
                margin: 6px 0 6px 0;
                font-size: 1.35rem;
            }
        }
    }
}