.table-panel {
    font-family: IBM Plex Sans, sans-serif;
    border-radius: 0.3rem;
    background-color: var(--lyzer-card-bg-color);
    padding: 1.5rem;
    height: 390px;
    overflow: scroll;

    .table-panel-title {
        color: var(--lyzer-card-heading) !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
        font-size: 15px !important;
        margin: 0 0 1rem 0;
    }

    .table-data {
        margin-top: 2.25rem;
        word-wrap: break-word;
        margin-bottom: 0;

        table {
            width: 100%;
            border-collapse: collapse;

            thead {
                vertical-align: bottom;
                border: 0;

                tr {
                    border: 0;
                    border-color: inherit;

                    th {
                        white-space: nowrap;
                        font-weight: 700;
                        text-align: inherit;
                    }
                }
            }

            tbody {
                border: 0 solid;
                border-top: 2px solid #424e5a;

                tr {
                    border: 0;
                    border-color: inherit;

                    td {
                        border-bottom: 2px solid #424e5a;
                        padding: 1rem 0;
                        white-space: nowrap;
                        text-align: inherit;
                    }
                }
            }
        }
    }
}