.line-chart-wrapper {
    font-family: IBM Plex Sans, sans-serif;
    border-radius: 0.3rem;
    background-color: var(--lyzer-card-bg-color);
    padding: 1.5rem;

    .line-chart-title {
        color: var(--lyzer-card-heading) !important;
        font-weight: bold !important;
        text-transform: uppercase !important;
        font-size: 15px !important;
        margin: 0 0 1rem 0;
    }
}