.navbar {
    background-color: #3c4751 !important;
    min-height: 70px;
    display: flex;
    margin: 0;

    .main-item {
        width: 250px;
    }

    .navbar-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        transition: all 0.3s ease-in-out;
    }

    a {
        cursor: pointer;
        color: #ffffff;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
        z-index: 1028;
        display: flex;
        align-items: center;
    }

    #lyzer-logo {
        cursor: pointer;
        font-size: 1.5rem;
        color: #3b5fe2;
        padding-right: 0.5rem;
    }
}